.container {
    display: block;
    padding-top: 20px;
}

.example-card {
    max-width: 400px;
    margin: auto;
}

mat-card-header {
    flex-direction: column;
}

h3 {
    text-align: center;
}

.field-name {
    width: 100%;
}

mat-card-actions {
    text-align: right;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}